{%- import 'backend/macros.html' as s with context -%}
{%- extends s.layout() -%}
{%- set list = context[scaffolding.plural] -%}
{%- block layout_header -%}
<div class="ibox-content m-b-sm border-bottom page-header-big h116">
    <div style="margin-top: 0;">
        <h2 id="current_path" style=""></h2>
        <nav class="tab-nav ui-tab tab-nav-brand" style="margin-top: 14px;">
            <ul class="nav nav-list" style="margin-top: -2px !important;">
                <li class="file-menu"><a data-toggle="tab" href="#" class="type-all active" data-content-type="all">All</a></li>
                <li class="file-menu"><a data-toggle="tab" href="#" class="type-html" data-content-type="html">Html</a></li>
                <li class="file-menu"><a data-toggle="tab" href="#" class="type-javascript" data-content-type="javascript">JS</a></li>
                <li class="file-menu"><a data-toggle="tab" href="#" class="type-css" data-content-type="css">CSS</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{%- block layout_content -%}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        {% if uri_exists_with_permission(action="add") %}<button class="btn btn-primary btn-block" id="insert-file">新增文件</button>{% endif %}
                        <div class="hr-line-dashed"></div>
                        <h5>虛擬目錄</h5>
                        <ul class="folder-list" style="padding: 0"></ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight">
            <div class="row">
                <div class="col-sm-12" id="files-area">
                    {% for item in list %}{% if item.is_code_file %}
                    <div class="col-xs-6 col-sm-4 col-md-3 file-info" data-path="/{{ item.path }}" data-content-type="{{ item.content_type }}">
                        <div class="file">
                            <a href="{{ uri_action_link('code_editor', item) }}">
                                <div class="file-icon {{ item.content_type.replace('text/', '') }}"><span>{{ item.name }}</span></div>
                                <div class="file-name">
                                    {{ item.title }}
                                    <br>
                                    <small>版本：{{ item.last_version }}</small>
                                </div>
                            </a>
                        </div>
                    </div>{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function(page){
        page["current_type"] = "all";
        page["current_path"] = [];
        page["paths"] = [{% for item in list %}'/{{ item.path }}', {% endfor %}];
        page["change_dir"] = function(str){
            var target_dict = page["dir_dict"];
            if (str == "/"){
                page["current_path"] = [];
            }
            if (str == ".."){
                page["current_path"].pop();
            }
            if (str !== "/" && str !== ".." && str !== "."){
                page["current_path"].push(str);
            }
            $("#current_path").html("<span>目前位置 :</span><span class='btn btn-flat' data-path='/'>assets</span>");
            var i=0;
            for (;i<page["current_path"].length;i++){
                target_dict = target_dict[page["current_path"][i]];
                $("#current_path").append("<span class='btn btn-flat'>"+page["current_path"][i]+"</span>");
            }
            $("#current_path .btn").click(function(){
                var index = $(this).index("#current_path .btn");
                var c = page["current_path"];
                page["current_path"] = [];
                var i = 0;
                for (;i<index;i++){
                    page["current_path"].push(c[i]);
                }
                page["change_dir"](".");
            });
            $(".folder-list").html("");
            if (page["current_path"].length > 0){
                page["insert_dir"]("..");
            }
            $.map(target_dict, function (dir, k) {
                if (typeof dir === "object") {
                    page["insert_dir"](k);
                }
            });
            var path_check = page["current_path"].join("/");
            $(".file-info").hide().each(function(){
                var this_path = $(this).data("path");
                if ((this_path.startsWith(path_check) || this_path.startsWith("/" + path_check) &&
                        this_path.replace(path_check, "").replace("//", "/").indexOf("/", 1) < 0 )){
                    if ($(this).data("content-type") == page["current_type"]){
                        $(this).show();
                    }
                    if (page["current_type"] == "all"){
                        $(this).show();
                    }
                }
            });
        };
        page["insert_dir"] = function(str){
            $(".folder-list").append('<li><a href="javascript:page[\'change_dir\'](\'' + str + '\')"><i class="icon">folder_open</i><span>' + str + '</span></a></li>');
        };
        page["change_type"] = function(str){
            $(".file-menu.active, .file-menu .active").removeClass("active");
            $(".type-"+str).addClass("active").parent().addClass("active");
            if (str != "all"){
                str = "text/" + str;
            }
            page["current_type"] = str;
            page["change_dir"](".");
        };

        var dir_dict = {};
        
        page["dir_dict"] = dir_dict;
        page["insert_path"] = function(path){
            if (path.startsWith('/')) {
                path = path.substring(1);
            }
            let dirs = path.split("/");
            let last_dir_dict = dir_dict;
            $.map(dirs, function (dir) {
                if (typeof last_dir_dict[dir] === "undefined") {
                    if (dir.indexOf(".js") > 0 || dir.indexOf(".css") > 0 || dir.indexOf(".html") > 0) {
                        last_dir_dict[dir] = dir;
                    } else {
                        last_dir_dict[dir] = {};
                    }
                }
                if (typeof last_dir_dict[dir] === "object") {
                    last_dir_dict = last_dir_dict[dir];
                }
            });
            if (page["current_path"].length > 0){
                page["change_dir"](".");
            }else{
                page["change_dir"]("/");
            }
        };

        $.map(page["paths"], function (path) {
            page["insert_path"](path);
        });
        page["change_dir"]("/");
        
        $("#insert-file").click(function(){
            swal({
                title: '請輸入要新增的檔案(包含完整路徑)',
                inputPlaceholder: '/js/abc.js',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: '新增',
                cancelButtonText: '取消',
                showLoaderOnConfirm: true,
                preConfirm: function (path) {
                    return new Promise(function (resolve, reject) {
                        json_async("{% if uri_exists_with_permission(action="add") %}{{ uri_action_link('add') }}{% endif %}?path="+path, null, function(data){
                            if (data.info == "done"){
                                resolve(data)
                            }else{
                                reject(data.msg)
                            }
                        });
                    })
                },
                allowOutsideClick: false
            }).then(function (data) {            
                swal({
                    type: 'success',
                    title: data.msg,
                    html: data.path
                }).then(function(result) {
                    $("#files-area").append(data.html);
                    page["insert_path"](data.path);
                });
            });
        });
        
        $(".file-menu a").click(function(){
            page['change_type']($(this).data("content-type"));
        }).first().click();
    })(page);
</script>

{% endblock %}