<!DOCTYPE html>
<html class="cm-customizer" lang="zh-TW" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/plugins/code/static/css/uikit.css">
    <link rel="stylesheet" href="/plugins/code/static/css/notify.almost-flat.min.css">
    <link rel="stylesheet" href="/plugins/code/static/css/console.css">
    <script src="/static/components/jquery/dist/jquery.min.js"></script>
    <script src="/static/components/jquery-ui/ui/jquery-ui.custom.js"></script>

    <script src="/plugins/code/static/js/uikit.js"></script>
    <script src="/plugins/code/static/js/notify.min.js"></script>
    <script src="/plugins/code/static/js/console.js?r=2016-10-13"></script>

    <link rel="stylesheet" href="/static/components/codemirror/lib/codemirror.css">
    <script src="/static/components/codemirror/lib/codemirror.js"></script>
    <script src="/static/components/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/components/codemirror/mode/css/css.js"></script>
    <script src="/static/components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
</head>

<body>

<div id="customizer" class="{{ body_class }}">
    <div class="cm-sidebar">
        <header class="cm-sidebar-header">
            <div class="uk-form">
                <div class="uk-form-row">
                    <select class="uk-width-1-1" id="target">
                        {% if body_class == "show_list" %}<option value="">請先選擇</option>{% endif %}
                        <optgroup label="Html">
                        {% for item in html_list %}
                            <option value="{{ this.encode_key(item) }}">{{ item.title }}</option>
                        {% endfor %}
                        </optgroup>
                        <optgroup label="JavaScript">
                        {% for item in javascript_list %}
                            <option value="{{ this.encode_key(item) }}">{{ item.title }}</option>
                        {% endfor %}
                        </optgroup>
                        <optgroup label="CSS">
                        {% for item in css_list %}
                            <option value="{{ this.encode_key(item) }}">{{ item.title }}</option>
                        {% endfor %}
                        </optgroup>
                    </select>
                </div>
            </div>
        </header>

        <section class="cm-sidebar-content" id="record_list">
        </section>

        <footer class="cm-sidebar-footer">

            <div class="uk-form-row">
                <div class="uk-grid uk-grid-preserve">
                    <div class="uk-width-1-2">
                        <br />
                    </div>
                    <div class="uk-width-1-2">
                        <a id="btn_1" class="uk-button uk-button-expand uk-button-primary">儲存</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div class="cm-wrapper">
        <form style="height: 100%;">
        <div id="page_viewer"></div>
        </form>
    </div>
</div>

</body>
</html>