<!DOCTYPE html>
<html class="cm-customizer" lang="zh-TW" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editor</title>
    <link rel="stylesheet" href="/plugins/code/static/css/editor.css">
    <link rel="stylesheet" href="/static/vendor/codemirror/codemirror.min.css">
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/codemirror/codemirror.min.js"></script>
    <script src="/static/vendor/codemirror/javascript.min.js"></script>
    <script src="/static/vendor/codemirror/css.min.js"></script>
    <script src="/static/vendor/codemirror/htmlmixed.min.js"></script>
    <script src="/static/vendor/codemirror/brace-fold.min.js"></script>
    <script src="/plugins/code/static/js/code_editor.js?r=2016-10-15&run={{ framework.app_version }}"></script>
</head>

<body data-code-path="{{ uri_action_link('list') }}" {% if uri_exists_with_permission(action="view", item=target) %}data-target-id="{{ this.encode_key(target) }}" data-path="/{{ target.path }}"{% endif %}>

<div id="customizer" class="{{ body_class }}">
    <div class="cm-sidebar">
        <header class="cm-sidebar-header">
            <div class="uk-form">
                <div class="uk-grid" style="margin: 0;">
                    <select class="uk-width-3-4" id="history"></select>
                    <a id="btn_1" class="uk-button uk-width-1-4 uk-button-primary uk-text-center">儲存</a>
                </div>
            </div>
        </header>
    </div>

    <div class="cm-wrapper">
        <form style="height: 100%;">
        <div id="page_viewer"></div>
        </form>
    </div>
</div>

</body>
</html>